/*::ng-deep mat-dialog-container {
    width: 300px !important;
}*/

.pw_dilogue {
    min-height: 300px;
    .mat-form-field-infix {
        border: 1px solid #888 !important;
        border-radius: 4px !important;
        padding: 5px 10px !important;
    }
}

p.title {
    width: 115px;
    text-align: right;
    padding-right: 13px;
    padding-top: 19px;
    font-weight: 500;
    color: #888;
    line-height: 1;
}

.mat-dialog-title {
    text-align: center;
    color: #283593 !important;
    margin: 0 0 25px;
}


.mat-dialog-actions {
    margin-top: 20px;
    float: right;
}