<mat-form-field class="mx-2" fxFlex="100">
  <mat-select #customMatSelect [placeholder]="placeholder" (selectionChange)="selectVal()">
    <div class="select-search">
      <input type="text" placeholder="Search" class="mat-input-element" #filterData
        (keyup)="getFilteredData(filterData.value)">
    </div>
    <mat-option [value]="allOptValue" *ngIf="allOptAvail && !filterData.value">All</mat-option>
    <mat-option *ngFor="let pd of filteredListData" [value]="pd">
      {{ pd[ddOption]  + ' [' + pd?.party_code + ']'}}
    </mat-option>
  </mat-select>
</mat-form-field>